:root {
    box-sizing: border-box;
    --very-dark-grayish-blue: hsl(217 19% 35%);
    --desaturated-dark-blue: hsl(214 17% 51%);
    --grayish-blue: hsl(212 23% 69%);
    --light-grayish-blue: hsl(210 46% 95%);
    --white: hsl(0 0% 100%)
}

*, *::before, *::after {
    box-sizing: inherit;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

body {
    margin: 0;
    background-color: var(--light-grayish-blue);
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    min-height: 100dvh;
    align-content: center;
}

.article-component {
    width: min(87.2%, 46.625em);
    margin-inline: auto;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 15px 5px hsl(0 0 0 / 5%);
}

@media (min-width: 48em) {
    .article-component {display: flex;}
}

.article-component__img {
    width: 100%;
    aspect-ratio: 327/200;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (min-width: 48em) {
    .article-component__img {
        width: 38.3528%;
        border-bottom-left-radius: 10px;
        border-top-right-radius: initial;
    }
}

.content-wrapper {
    padding-block-start: 1.875em;
    /* outline: red solid .1em; */
}

.article-component__central-content{width: 81.65%; margin-inline: auto;}

.article-component__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
    margin-block-start: 0%;
}

.article-component__description {
    font-size: .8125rem;
    color: var(--desaturated-dark-blue);
    margin-block: .4615em clamp(.4615em, 2em - 2vw, 2.3077em);
}

.share-styled-wrapper {background-color: var(--very-dark-grayish-blue); border-radius: 0 0 10px 10px;}
@media (min-width: 48em) {.share-styled-wrapper {border-radius: 10px;}}

.article-component__footer {
    width: 81.65%; 
    margin-inline: auto;
    padding-block: clamp(.875em, 2em - 2.5vw, 1.125em);
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.author-img {width: 2.5em; border-radius: 60%;}

.article-component__indicator {display: block; font-size: .8125rem;}
.article-component__indicator--author {color: var(--very-dark-grayish-blue); font-weight: 700;}
.article-component__indicator--pub-date {color: var(--grayish-blue);}
.article-component__indicator--share-state {
    color: var(--grayish-blue); 
    font-size: .8125rem; 
    letter-spacing: 35%; 
    text-transform: uppercase;
    margin-inline-end: .6154em;
}

.share-state-wrapper{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

@media(min-width: 48em) {
    .share-state-wrapper {
        justify-content: center;
        padding: 1.125em 2.375em;
        position: absolute;
        position-anchor: --share-btn;
        bottom: anchor(top);
        left: anchor(center);
        transform: translateX(-50%);
        margin-block-end: 1.0625em;

        &::before {
            border: solid transparent;
            position: absolute;
            content: "";
            height: 0;
            width: 0;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 100%);
            border-width: 10px; 
            border-color: var(--very-dark-grayish-blue) transparent transparent transparent;
        }
    } 
}

.article-component__btn {
    border: none;  
    cursor: pointer;
    background-color: inherit;
    padding: 0%;
    margin: 0%;
    anchor-name: --share-btn;
}

.article-component__btn--share {
    border-radius: 60%;
    padding: .5em;
    background-color: var(--light-grayish-blue);
    margin-left: auto;    
    
    &:focus-visible {
        outline: .1em solid hsl(0 0 0 / 60%);
        background-color: hsl(217 19% 35% / 15%);
    }
}

.article-component__btn--share-activated {background-color: var(--desaturated-dark-blue);}

.attribution { font-size: 0.6875rem; text-align: center; margin-block-start: .4545em;}
.attribution a { color: hsl(228 45% 44%); }